<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner1.png') %>)">
  <div class="container ">
    <h1>¿Buscas servicios de reparación?</h1>
    <p>Conecta rápidamente con un profesional del área de Gasfitería y Electricidad </p>
    <button class="btn-lightblue-big"><%= link_to "Buscar", pages_search_path %></button>
  </div>
</div>

<div>

</div>

<div class="card-polol">
    <%= image_tag("ImgHomeCard1-01.png") %>
    <div class="card-polol-infos">
      <h1>SOMOS POLOL</h1>
      <h2>una solución rápida y segura para tus emergencias domésticas</h2>
      <p>- Contamos con <strong>Técnicos y Profesionales capacitados y certificados</strong>.</p>
      <p>- Sabemos que la <strong>seguridad e tu hogar</strong> es fundamental.</p>
      <p>¡ÚNETE A NUESTRA COMUNIDAD!</p>
    </div>
  </div>
</div>

<br>
<br>

<div style="text-align: center">
  <h2>¿Cómo funciona?</h2>

</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard2-01.png')%>)">
    <p>Selecciona un servicio segun categoria.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard2-02.png')%>)">
    <p>Elige al profesional.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard2-03.png')%>)">
    <p>Comunicate con el profesional.</p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center">
  <h2>Beneficios al inscribirte como profesional</h2>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-01.png')%>)">
    <p>Podrás tener una página de perfil.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-02.png')%>)">
    <p>Conectar con nuevos clientes.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-03.png')%>)">
    <p>Aumentar tus ingresos.</p>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-04.png')%>)">
    <p>Geolocalización de tu servicio.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-05.png')%>)">
    <p>Alerta de mensajería al requerir tu servicio.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path('ImgHomeCard3-06.png')%>)">
    <p>Sistema de calificaciones.</p>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
