<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="padding-nav-card">  
        <div class="card-profilepro">
          <% @services.each do |s| %>
             <h2><%= s.category %></h2> <%# aqui va el nombre de la categoría %>
          <% end %>
          <div class="mb-4 text-center">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          </div>
          <p><% 3.times do |i| %>
            <span class="fas fa-star star-yellow"></span>
          <% end %></p> <%# aqui va la calificación %>

          <% @users.each do |user| %>
            <h3><%= user.first_name %></h3>
            <h3><%= user.last_name %></h3>
            <p><%= user.certification %></p>
            <p><%= user.biography %></p>
          <% end %>

          <div class="btn-center">
            <button class="btn-lightblue-big">Volver</button>
            <button class="btn-blue-big">Enviar Solicitud</button>
          </div>
      
        </div>
      </div>
    </div>
    <div class="col-md-6 justify-content-center">
      <%# aqui va el mapa %>
    </div>
  </div>
</div>